.feedback-spn{
    margin-left: 1rem;
    color: #FF3147;
    font-weight: 700;
}
.feedback-spn2{
    font-size: 0.8rem;
    font-weight: 500;
    color: gray;
}
.feedbck-box1{
    margin-left: 22%;
}

/* Footer Section */
.footer-b1{
    background-image: url('./Images/NoPath - Copy.svg');
    height: 200px;
    z-index: -1;
    margin-top: 4rem;
}
.footer-img{
    margin-top: 5%;
}